# Base de datos
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=auth_user
POSTGRES_PASSWORD=tu_password
POSTGRES_DB=auth_service

# JWT Configuration
JWT_SECRET=tu_clave_super_secreta_cambiar_en_produccion
JWT_EXPIRES_HOURS=24

# Server
PORT=3000
